@page
@model Ahunter_Final_CIDM3312.Pages.OrgProjPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.ContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.ContactEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Organization?.OrganizationID">Edit</a> |
    <a asp-page="./OrgIndex">Back to List</a>
</div>
